.box { 
    background: #ccc; 
    border-color: #999; 
    color: #000;
    border: 1px solid red; /*Update*/

}

.container {
	display: grid;
	grid-template-columns: 100px 50px 80px 200px;
	grid-template-rows: 80px 100px 100px;
    
}





















/* ======= Responsive/Responsividade ======= */
@media (max-width: 991px){

    html {
        font-size: 55%;
    }

}

@media (max-width: 768px){


}

@media (max-width: 450px){

    html {
        font-size: 50%;
    }

}