/* ======= CSS Padrão ======= */
html {
	font-size: 10px;
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	font: 2rem sans-serif;
	background: white;
	color: #333;
	margin: 40px;
	}
.container > * {
	padding: 10px;
	font: 20px sans-serif;
	color: white;
}
.topo, .rodape {background: #0000b3;}
.menu {background: #e37e35;}
.principal {background: #ab2121;}
.primaria {background: #8cd9ad;}
.secundaria {background: #ea9a62;}


/* ======= Grid Layout ======= */





/* ======= Responsive/Responsividade ======= */
@media (max-width: 991px){

    html {
        font-size: 55%;
    }

}

@media (max-width: 768px){


}

@media (max-width: 450px){

    html {
        font-size: 50%;
    }

}