/* ======= CSS Padrão ======= */
/* ======= Grid Layout ======= */
body { margin: 50px; }
/* Descomente para visualizar as áreas do layout
.container > * {
	background: #4aa1c9;
	border-radius: 6px;
	color: #fff;
	padding: 20px;
}
*/

.container {
	display: grid;
	grid-template: 
		"header  header  header"
		"nav       main     aside"
		"footer   footer    footer" / 150px 300px 150px;
	grid-template-rows: 60px 350px 50px;
	
	grid-gap: 10px 20px;
}
header { grid-area: header;}
main { grid-area: main;}
nav { grid-area: nav;}
aside { grid-area: aside;}
footer { grid-area: footer;}








/* ======= Responsive/Responsividade ======= */
@media (max-width: 991px){

    html {
        font-size: 55%;
    }

}

@media (max-width: 768px){


}

@media (max-width: 450px){

    html {
        font-size: 50%;
    }

}